Uniinfo Desk/Uniinfo Desk/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarChamado">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarChamadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarChamadoResult" type="tns:ArrayOfCon_Chamado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCon_Chamado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Con_Chamado" nillable="true" type="tns:Con_Chamado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Con_Chamado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idChamado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idFuncionario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idProblema" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dataChamado" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="statusAtendimento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarFuncionario">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarFuncionarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarFuncionarioResult" type="tns:ArrayOfVFuncionario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVFuncionario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vFuncionario" nillable="true" type="tns:vFuncionario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vFuncionario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idFuncionario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ramal" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nComputador" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="setor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EncerrarChamado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncerrarChamadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="PosicionarChamado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PosicionarChamadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="verificanivel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginwpf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhawpf" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificanivelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificanivelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarChamado" />
  </wsdl:message>
  <wsdl:message name="ConsultarChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarChamadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarFuncionarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarFuncionario" />
  </wsdl:message>
  <wsdl:message name="ConsultarFuncionarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="EncerrarChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:EncerrarChamado" />
  </wsdl:message>
  <wsdl:message name="EncerrarChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:EncerrarChamadoResponse" />
  </wsdl:message>
  <wsdl:message name="PosicionarChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:PosicionarChamado" />
  </wsdl:message>
  <wsdl:message name="PosicionarChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:PosicionarChamadoResponse" />
  </wsdl:message>
  <wsdl:message name="verificanivelSoapIn">
    <wsdl:part name="parameters" element="tns:verificanivel" />
  </wsdl:message>
  <wsdl:message name="verificanivelSoapOut">
    <wsdl:part name="parameters" element="tns:verificanivelResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarChamado">
      <wsdl:input message="tns:ConsultarChamadoSoapIn" />
      <wsdl:output message="tns:ConsultarChamadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarFuncionario">
      <wsdl:input message="tns:ConsultarFuncionarioSoapIn" />
      <wsdl:output message="tns:ConsultarFuncionarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarChamado">
      <wsdl:input message="tns:EncerrarChamadoSoapIn" />
      <wsdl:output message="tns:EncerrarChamadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PosicionarChamado">
      <wsdl:input message="tns:PosicionarChamadoSoapIn" />
      <wsdl:output message="tns:PosicionarChamadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificanivel">
      <wsdl:input message="tns:verificanivelSoapIn" />
      <wsdl:output message="tns:verificanivelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarChamado">
      <soap:operation soapAction="http://tempuri.org/ConsultarChamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarFuncionario">
      <soap:operation soapAction="http://tempuri.org/ConsultarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarChamado">
      <soap:operation soapAction="http://tempuri.org/EncerrarChamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosicionarChamado">
      <soap:operation soapAction="http://tempuri.org/PosicionarChamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificanivel">
      <soap:operation soapAction="http://tempuri.org/verificanivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarChamado">
      <soap12:operation soapAction="http://tempuri.org/ConsultarChamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarFuncionario">
      <soap12:operation soapAction="http://tempuri.org/ConsultarFuncionario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarChamado">
      <soap12:operation soapAction="http://tempuri.org/EncerrarChamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosicionarChamado">
      <soap12:operation soapAction="http://tempuri.org/PosicionarChamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificanivel">
      <soap12:operation soapAction="http://tempuri.org/verificanivel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:64848/WebSevice/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:64848/WebSevice/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>